<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BlogU</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<login-config>
	<auth-method>FORM</auth-method>
	<form-login-config>
		<form-login-page>/index.jsp</form-login-page>
		<form-error-page>/errorPage.jsp</form-error-page>
	</form-login-config>
</login-config>
<security-constraint>
	<web-resource-collection>
		<web-resource-name>getOneForUpdate</web-resource-name>
		<url-pattern>/BlogU/getOneForUpdate/*</url-pattern>
		<http-method>POST</http-method>
	</web-resource-collection>
	
	<auth-constraint>
		<role-name>Member</role-name>
	</auth-constraint>
	
	<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
</security-constraint>
  
<!--CharacterEncodingFilter config method1: in xml   -->
<!--   <filter> -->
<!--   	<filter-name>encodingFilter</filter-name> -->
<!--   	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> -->
<!--   	<init-param> -->
<!--   		<param-name>encoding</param-name> -->
<!--   		<param-value>UTF-8</param-value> -->
<!--   	</init-param> -->
<!--   	<init-param> -->
<!--   		<param-name>forceEncoding</param-name> -->
<!--   		<param-value>true</param-value> -->
<!--   	</init-param> -->
<!--   </filter> -->
  
</web-app>